.heading {
  background: var(--green-theme);
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
}
.heading h3 {
  color: var(--font-white);
  padding: 1em 0em;
}
.heading p {
  color: var(--font-white);
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
}
