.navBar {
  background-color: var(--font-white);
  height: 3.75em;
  width: 100%;
  padding: 0 3em;
}
.navBarContent {
  display: flex;
  justify-content: space-between;
}
.search_bar {
  height: 3em;
  width: 35em;
  /* margin-top: 0.7; */
}
.search_btn {
  height: 3em;
  width: 6em;
  margin-left: 0.2em;
  /* margin-top: 0.7; */
}
.search_ting {
  margin-top: 0.7em;
}
