.carousel {
  padding: 1em 0.5em;
}
.individualProduct {
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
  margin: 1em;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 34.12, 36.47, 0.1);
  border-radius: 3px;
  box-shadow: var(--shadow-2);
}
.individualProduct:hover {
  box-shadow: var(--shadow-4);
}

.individualProduct2 {
  height: 14em;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 1.4em;
  border-color: rgba(0, 34.12, 36.47, 0.1);
  cursor: pointer;
  box-shadow: var(--shadow-2);
}
.individualProduct2:hover {
  box-shadow: var(--shadow-3);
}

/* .flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
} */

.ppbrands_categories {
  height: 6em;
  width: auto;
  border-radius: 25px;
  padding: 1em;
}
.center_text {
  text-align: center;
}
.center_text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--link-color);
}
.linkSeeMore {
  margin-left: 2em;
  margin-bottom: 2em;
  color: var(--green-theme);
  font-size: medium;
}
.linkSeeMore:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--green-theme);
}
.linkSeeAll {
  color: var(--font-white);
  text-decoration: none;
}
.linkSeeAll:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--green-theme);
}
.flexOnProduct {
  display: flex;
  justify-content: space-between;
}
.stars {
  color: var(--bright-yellow);
  margin: 0;
}
